{% extends 'base.html' %}
{% block content %}
  <h1>Список фильмов</h1>


  <a href="{% url 'CineBoard:film_add' %}" class="btn btn-success">Добавить фильм</a>

  <ul>
    {% for film in films %}
      <li>
        <h3>{{ film.title }}</h3>
        <p>{{ film.description|truncatewords:20 }}</p>
        <p>Средний рейтинг: {{ film.avg_rating|default:"-" }}</p>
        <a href="{% url 'CineBoard:film_detail' film.pk %}">Подробнее</a>
      </li>
    {% empty %}
      <p>Фильмов пока нет.</p>
    {% endfor %}
  </ul>
{% endblock %}
